<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>312465584435-jg2gfea2c45s13cb6f8ca91f12h5sddl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.312465584435-jg2gfea2c45s13cb6f8ca91f12h5sddl</string>
	<key>API_KEY</key>
	<string>AIzaSyCTdx_Ecq61285ZbNYAPb8rW9NbrtVcFKA</string>
	<key>GCM_SENDER_ID</key>
	<string>312465584435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yourcompany.flutterView</string>
	<key>PROJECT_ID</key>
	<string>flutter-travel-project</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-travel-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:312465584435:ios:04d23f03f59c36159d8e46</string>
</dict>
</plist>